body {
    background-color: var(--color-background-page);
    color: var(--color-text-default);
    font-family: "Wix Madefor Text", serif;
}

header {
    color: var(--color-text-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
a {
    color: var(--color-link);
}

h1, h2, h3 {
    font-family: "Prosto One", san-serif; 
}

.icon {
    fill: white;
}

.event-list {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.event-row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20%;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.sidebar {
    grid-column: span 3;
}

.content {
    grid-column: span 9;
}
