body {
    background-color: var(--color-background-page);
    color: var(--color-text-default);
    font-family: "Wix Madefor Text", serif;
}

header {
    background-color: blue;
    color: var(--color-text-header);
}
a {
    color: var(--color-link);
}

h1, h2, h3 {
    font-family: "Prosto One", san-serif; 
}

.icon {
    fill: white;
}